<%= stylesheet_link_tag 'style.css' %>

<%= render "/home/menu_lateral"%>
<div class="interfaz_editar">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder:"E-mail", autocomplete: "email", class:"ingreso" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder:"Contrase単a nueva", class:"ingreso" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"ingreso", placeholder:"Confirmar contrase単a" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="field">
      <% if @user.imagen_perfil.attached? && @user.imagen_perfil.representable? %> <!--usuario tiene imagen? es de un formato compatible? -->
        <%= image_tag user.imagen_perfil.variant(resize: '100x100').processed %> <!--cambiar tama単o de imagen -->
        <div>
          <%= link_to '#', class:'cambiar_imagen' do%> Cambiar imagen actual <% end %>
          <%= link_to 'Eliminar imagen sin reemplazar',
            eliminar_imagen_user_url(image_id: @user.imagen_perfil.id),
            method: :delete,
            data: {confirm: '多Seguro?' },
            class: 'eliminar_imagen'
          %>
        </div>
      <% else %>
        <div style="height: 100px; width:100px; background:#ccc;"></div>
      <% end %>

      <div style="height: 100%; width: 100%;">
        <%= f.file_field :imagen_perfil %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>

