
<%= form_with model: @vehiculo do |f|  %>
    <% @vehiculo.errors.full_messages.each do |error| %>
        <div>
        <%= error %>
        </div>
    <% end %>
         
    <div class="field">
    <%= f.text_field :marca, autofocus: true, placeholder:"Marca", class:"ingreso", :required => true %>
    </div> 
    <div class="field">
    <%= f.text_field :modelo, autofocus: true, placeholder:"Modelo", class:"ingreso", :required => true %>
    </div>
    <div class="field">
    <%= f.text_field :color, autofocus: true, placeholder:"Color", class:"ingreso", :required => true %>
    </div>
    <div class="field">
    <%= f.text_field :patente, autofocus: true, placeholder:"Patente", class:"ingreso", :required => true %>
    <div class="field">
      <%= f.text_area :descripcion, autofocus: true, placeholder:"Descripcion", class:"ingreso", :required => true %>
    </div>
    <p>simulacion</p>
    </div> <div class="field">
    <%= f.number_field :cercano, autofocus: true, placeholder:"Cercania", class:"ingreso", :required => true %>
    </div>
    <div class="field">
      <% opciones = {'si' => 'true' , 'no' => ' false'} %> 
        <p>¿ocupado?</p>
        <% lista = opciones.sort %>
        <% lista.each do |ocupado| %>
         <%= f.radio_button :ocupado, ocupado[1] %>
         <label for="<%= ocupado[1] %>"><%= ocupado[0] %></label>
         
        <% end %>
    </div>

    <div class="actions">
        <br>
        <%= f.submit 'Confirmar' , class:"boton" %>
      </div>
    <% end %>