<%= stylesheet_link_tag 'style.css' %>

<div class="fondo vehiculo">
    <%= render "/home/menu_lateral"%>

    <div class="encabezadoSupervisores">
        <h1 class="titulo_seccion"> Vehículos </h1>
        <%= link_to new_vehiculo_path do %>
            <%= image_tag "plus.svg", class:"ag_super" %>    
        <% end %>
    </div> <br>
    <div class="lineahorizontal"></div>

    <ul class="listado">
        <% @vehiculos.each do |vehiculo| %>
                <li class="listado_item">
                    <%= link_to vehiculo_path( vehiculo.id ) do %>
                    <h2><FONT COLOR="#e7c078"><%= vehiculo.marca %> <%= vehiculo.modelo %></h2>
                    <% end %>
                </li>  
                <div class="lineahorizontal"></div>
        <% end %>
    </ul>
</div>