<%= stylesheet_link_tag 'style.css' %>

<center>
  <div class="fondo">
      <%= render "/home/menu_lateral"%>
      <%= link_to :back do %>
          <%= image_tag "arrow-left.svg", class:"volver" %>    
      <% end %>
      

    <h3> Marca: <%= @vehiculo.marca %></h3>
    <h3> Modelo: <%= @vehiculo.modelo %></h3>
    <h3> Color: <%= @vehiculo.color %> </h3>
    <h3> Patente: <%= @vehiculo.patente %></h3>
    <h3> Descripcion: <%= @vehiculo.descripcion%></h3>
    

    <%if current_user.admin%>
      <%= button_to 'editar auto', edit_vehiculo_path(@vehiculo), :method => :get,class:"boton" %>
      <%= button_to 'Eliminar auto', vehiculo_path(@vehiculo), :method => :delete, class:"boton",  data: {
        turbo_method: :delete,
      turbo_confirm: '¿Estas seguro?' },class:"boton" %>
    <%end%>

    <% if !current_user.super && !current_user.admin%>
      <% if Alquilar.where(id_user: current_user.id).find_by_activo(true).nil? %>
        <%= form_tag("/alquilar/index", method: "get") do %>
          <%= hidden_field_tag(:id_vehiculo,@vehiculo.id) %>
          <%= select_tag(:aver, options_for_select(1..24))%>
          <%= submit_tag("Alquilar", :class=>"boton", :name=>"submit") %>
        <% end %>
      <% else %>
    
      <% if @vehiculo.bloq %>
          <%= form_with model: @vehiculo do |f|  %>
            <div class="field">
              <%= f.hidden_field :bloq, value:false %>
            </div>
            <div class="actions">
              <%= f.submit 'Bloquear auto' , class:"boton" %>
            </div>
          <% end %> </br>
          
      <% else %>
        <%= form_with model: @vehiculo do |f|  %>
          <div class="field">
            <%= f.hidden_field :bloq, value:true%>
          </div>
          <div class="actions">
            <%= f.submit 'Desbloquear auto' , class:"boton" %>
          </div>
        <% end %> </br>

      <% end %>
      <%= button_to "Extender horas", extender_horas_path, :method => :get, class:"boton" %> </br>
      <%= button_to "Documentos", documentos_circular_path, :method => :get, class:"boton" %> </br>

        <%= form_tag("/alquilar/index", method: "get") do %>
          <%= hidden_field_tag(:id_vehiculo,@vehiculo.id) %>
          <%= submit_tag("Cancelar Alquiler", :class=>"boton", :name=>"submit") %>
        <% end %>
      <% end %>
    <%end%>
  </div>  
</center>
