<%= stylesheet_link_tag 'style.css' %>

<div class="fondo">
    <%= render "/home/menu_lateral"%>

    <div class="encabezado">
        <h1 class="titulo_seccion"> Supervisores </h1>
        <%= link_to crear_super_path do %>
            <%= image_tag "plus.svg", class:"ag_super" %>    
        <% end %>
    </div>
    

    
        <% User.all.each do |user| %>
            <% if user.super %>
                    <%= link_to supervisores_path( user.id ) do %>
                    <h2><FONT COLOR="e7c078"><%= user.nombreUsuario %><FONT></h2>
                    <% end %>  
            <% end %>
        <% end %>
        </ul>

    </table>
</div>