<%= stylesheet_link_tag 'style.css' %>

<div class="fondo">
    <%= render "/home/menu_lateral"%>

    <div class="encabezadoSupervisores">
        <h1 class="titulo_seccion"> Supervisores </h1>
        <%= link_to crear_super_path do %>
            <%= image_tag "plus.svg", class:"ag_super" %>    
        <% end %>
    </div>
    

    <table class="listado">
        <tr>
        <th class="item">Supervisor</th>
        <th class="item">E-mail</th>
        <th class="item"></th>
        <th class="item"></th>
        </tr>
        <% User.all.each do |user| %>
            <% if user.super %>
                <tr>
                    <td class="item"><%= user.nombreUsuario%></td>
                    <td class="item"><%= user.email%></td>
                    <td class="item a"><%= button_to 'Modificar', editar_super_path(user), :method => :get, class:"boton" %></td>
                    <td class="item a"><%= button_to 'Eliminar', eliminar_super_path(user), :method => :destroy, class:"boton" %></td>
                </tr>
            <% end %>
        <% end %>
    </table>
</div>