<%= stylesheet_link_tag 'style.css' %>

<div class="fondo">
     <%= render "/home/menu_lateral"%>
     <%= link_to :back do %>
     <%= image_tag "arrow-left.svg", class:"volver" %>    
     <% end %>

     
   <p> Email: <%= @user.email %></p>


     <%= button_to 'Editar supervisor', editar_super_path(@user), :method => :get %>
     <%= button_to 'deshabilitar auto', supervisores_path(@user), :method => :delete,  data: {
        turbo_method: :delete,
        turbo_confirm: '¿Estas seguro?' } %>
</div>