<%= stylesheet_link_tag 'style.css' %>

<div class="fondo">
     <%= render "/home/menu_lateral"%>
     <center>
     <%= link_to :back do %>
     <%= image_tag "arrow-left.svg", class:"volver" %>    
     <% end %>
     
     <h3> Nombre: <%= User.where(id: @user).nombreUsuario %> </h3>
     <h3> Email: <%= @user.email %></h3>
     <h3> DNI: <%= @user.dni %> </h3>
     </br>

     <%= button_to 'Modificar Supervisor', edit_user_registration_path(@user), method: :get, class:"boton" %></br>
     <%= button_to 'Eliminar Supervisor', eliminar_super_path(@user), method: :delete, class:"boton",  data: {
          turbo_method: :delete,
          turbo_confirm: '¿Estas seguro?' }, class:"boton" %>
     </center>
</div>