<%= stylesheet_link_tag 'style.css' %>

<div class="fondo">
     <%= render "/home/menu_lateral"%>
     <%= link_to :back do %>
     <%= image_tag "arrow-left.svg", class:"volver" %>    
     <% end %>

     
   <p> Nombre: <%= User.find(@user.id).nombreUsuario %></p>
   <p> Email: <%= @user.email %></p>
   <p> DNI: <%= @user.dni %> </p>
   <p> Supervisor: <%= @user.super %></p>

   <% if current_user && current_user.admin %>
        <%= button_to 'Modificar', editar_super_path(@user), method: :get, class:"boton" %>
        <%= button_to 'Eliminar', eliminar_super_path(@user), method: :delete, class:"boton",  data: {
            turbo_method: :delete,
            turbo_confirm: '¿Estas seguro?' } %>
   <% end %>
</div>