<%= stylesheet_link_tag 'style.css' %>

<div class="fondo">
     <%= render "/home/menu_lateral"%>
     <center>
     <%= link_to :back do %>
     <%= image_tag "arrow-left.svg", class:"volver" %>    
     <% end %>
     
     <h3> Nombre: <%= @user.nombreUsuario %> </h3>

     </br>

     <%= button_to 'Modificar Supervisor', edit_user_registration_path(@user), method: :get, class:"boton" %></br>

     <%= form_tag("users", method: "destroy") do %>
          <%= hidden_field_tag(:id) %>
          <%= submit_tag("Eliminar Supervisor", :class=>"boton", :name=>"submit") %>
     <% end %> </br>
     </center>
</div>