<div class="catalogo_cercania">
    <% if !current_user.super && !current_user.admin %>
    <%  Vehiculo.all.each do |vehiculo| %>   
        <% if vehiculo.cercano <= 5 && !vehiculo.ocupado %>
            <%= link_to vehiculo_path( vehiculo.id ) do %>
                <p class="auto">
                <div class="txt">
                    <%= vehiculo.marca.capitalize%>
                    <%= vehiculo.modelo.capitalize%>
                    <%= " , " %>
                    <%= vehiculo.patente %>
                </div>
                <br>
                <i>  Ubicado a <%= vehiculo.cercano%> cuadras </i>
            <% end %>
            <div class="lineahorizontal"></div>
        <% else %>
            <% if current_user.admin || current_user.super %>
                <%= link_to vehiculo_path( vehiculo.id ) do %>
                <p class="auto ad">
                <div class="txt">
                    <%= vehiculo.marca%>
                    <%= vehiculo.modelo%>
                </div>
                <br>
                    <%= vehiculo.patente %> <br>
            <% end %>
                <div class="lineahorizontal"></div> 
            <% end %>
        <% end %>
    <% end %>

    <% @A = Vehiculo.where(ocupado: true).count %>
    <% @B = Vehiculo.all.count %>
    <% if @A == @B %>
                <p>No hay vehículos disponibles dentro de este radio. Por favor, elija otra distancia.</p>
    <% end %>
</div>