<div class="catalogo_cercania">
<center>
    <% @al = Alquilar.where(id_user: current_user.id).find_by_activo(true) %>
    <% if !@al.nil? %>
        <% @ve = Vehiculo.find_by_id(@al.id_vehiculo) %>
        <h1 class="titulo_seccion">Alquilando:</h1>
        <%= link_to vehiculo_path(@ve.id) do %>
            <p class="auto">
                <div class="txt">
                    <%= @ve.marca.capitalize%>
                    <%= @ve.modelo.capitalize%>
                    <%= " , " %>
                    <%= @ve.patente %>
                </div>
                <br>
            </p>
        <% end %>

        <%= button_to "Documentos", documentos_circular_path, :method => :get, class:"boton" %> </br>
    <% else %>     
        <h1 class="titulo_seccion">Vehículos disponibles</h1>

            <% if params[:radio].present? %>

                <%= form_with url: index_autos_path, method: :get do |form| %>
                    <%= form.number_field :radio, placeholder:"Distancia deseada", in: 0..30, 
                    onChange: 'this.form.requestSubmit()',
                    value: params[:radio] %>
                <% end %>
        
                <p> Vehículos a menos de <%=params[:radio]%> cuadras: </p>
                <%  Vehiculo.all.sort_by{|vehiculo| vehiculo.cercania}.each do |vehiculo| %> 
                <% if !vehiculo.ocupado && (vehiculo.cercania <= params[:radio].to_i) %>
                        <%= link_to vehiculo_path( vehiculo.id ) do %>
                            <p class="auto">
                            <div class="txt">
                                <%= vehiculo.marca.capitalize%>
                                <%= vehiculo.modelo.capitalize%>
                                <%= " , " %>
                                <%= vehiculo.patente %>
                            </div>  <br>
                            <i> Ubicado a <%= vehiculo.cercania %> cuadras </i>
                        <% end %>

                        <div class="lineahorizontal"></div>
                <% end %>
            <%end%>
                <div class="lineahorizontal"></div>
                <% if Vehiculo.all.where("cercania <= ?", params[:radio]).where(ocupado:false).count == 0 %>
                    <p>No hay vehículos disponibles dentro de este radio. Por favor, elija otra distancia.</p>
                <% end %>
            <% else %>
                <p style="font-size: 10px; width: 80%; margin: 0 auto;">Por defecto, verá vehículos en un radio de 5 cuadras o menos. 
                 Elegir radio: </p> </br>

                <%= form_with url: index_autos_path, method: :get do |form| %>
                    <%= form.number_field :radio, placeholder:"Distancia deseada", in: 0..30, 
                       onChange: 'this.form.requestSubmit()',
                       value: params[:radio] %>
                <% end %>
        
                <p> Vehículos a menos de 5 cuadras: </p>
                <%  Vehiculo.all.sort_by{|vehiculo| vehiculo.marca}.each do |vehiculo| %> 
                    <% if !vehiculo.ocupado  %>
                        <%= link_to vehiculo_path( vehiculo.id ) do %>
                            <p class="auto">
                            <div class="txt">
                                <%= vehiculo.marca.capitalize%>
                                <%= vehiculo.modelo.capitalize%>
                                <%= " , " %>
                                <%= vehiculo.patente %>
                            </div>  <br>
                            <i>  Ubicado a NNN cuadras </i>
                     <% end %>
                        <div class="lineahorizontal"></div>
                    <% end %>
                <%end%>
            <% end %>
    
                <div class="lineahorizontal"></div>
                <% if Vehiculo.all.where(ocupado:false).count == 0 %>
                    <p>No hay vehículos disponibles a menos de 5 cuadras. Por favor, elija otra distancia.</p>
                <% end %>

            <br>
    <% end %>
    
</center>
<div class="lineahorizontal"></div> 

</div>