<div class= iniciar_crear>
    <%= render "devise/sessions/new"%>
        <div class="lineavertical"></div>
        <%= render "devise/registrations/new"%>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<button class="recuperar">¿Has olvidado la Contraseña?</button>
<div class="interfaz_recupero">
    <h2>Recuperar Cuenta</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="horizontal">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"E-mail", class:"ingreso" %>
            <%= f.submit "Enviar instrucciones de recupero", class:"boton" %>
        </div>
    <% end %>
</div>
