<div id="mySidebar" class="barralateral">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <% if current_user %>
    <% if !current_user.super && !current_user.admin %>
      <%= button_to "Billetera", bille_path, :method => :get, class:"opciones_lateral"  %>
    <% end %>
    
    <div class="lineahorizontal"></div>
  

  <%if current_user && (current_user.admin || current_user.super)%>
    <details>
    <% if current_user.admin %>
      <summary onselectstart="return false", class="opciones_lateral"> 
      Herramientas de Administrador

     </summary>
      <%= button_to "Usuarios registrados", listado_clientes_path, :method => :get, class:"sub_opciones_lateral" %>
      <div class="lineahorizontal"></div>

      <%= button_to "Supervisores", listado_super_path, :method => :get, class:"sub_opciones_lateral" %>
      <div class="lineahorizontal"></div>

      <%= button_to "Vehículos", listado_vehiculos_path, :method => :get, class:"sub_opciones_lateral" %>
      <div class="lineahorizontal"></div>
      <% end %>
  <% end %>


  

  <%if current_user && (current_user.admin || current_user.super)%>
  
    <% if current_user.super %>
      <summary onselectstart="return false", class="opciones_lateral"> 
      Herramientas de Supervisor

     </summary>
      <%= button_to "Usuarios registrados", listado_clientes_path, :method => :get, class:"sub_opciones_lateral" %>
      <div class="lineahorizontal"></div>

      <%= button_to "Vehículos", listado_vehiculos_path, :method => :get, class:"sub_opciones_lateral" %>
      <div class="lineahorizontal"></div>
      <% end %>
    </details>
  <% end %>
  <% end %>

  <details>
    <summary onselectstart="return false", class="opciones_lateral"> Cuenta de Usuario </summary>
      <%= button_to "Cerrar Sesión", destroy_user_session_path, :method => :delete, class:"sub_opciones_lateral" %>
      <%= button_to "Editar Perfil", edit_user_registration_path, :method => :get, class:"sub_opciones_lateral" %>
  </details>
  <div class="lineahorizontal"></div>

  <details>
    <summary onselectstart="return false", class="opciones_lateral"> Ayuda </summary>
      <%= button_to "Preguntas Frecuentes", preguntas_path, :method => :get, class:"sub_opciones_lateral" %>

  </details>
  <div class="lineahorizontal"></div>

  
  
</div>

<div class="barra_superior">
  <div id="main">

    <div style="display: flex; flex-direction: row; align-items:center;">
      <button class="abrir_menu_lateral" onclick="openNav()">
        <%= image_tag "menu-burger.svg", class:"burger" %>
      </button>
      <%= link_to root_path do %>
        <div class="logo_principal">
          <%= image_tag "alquilapp-logo.svg", class:"logo" %>

          <h1 class="titulo_logo", style="">
          <FONT COLOR="black">Alquilapp </FONT>
          </h1>

        </div>
      <% end %>
    </div>

    <div>

      <h1 style="margin-right: 15px;">
        <%= current_user.nombreUsuario %>
        <% if current_user && !current_user.admin && !current_user.super %>
          , $<%= current_user.balance %>
          <% end %>
      </h1>

    </div>

  </div>
</div>
<script src="<%= asset_path 'menu_Lateral' %>"></script>