<div id="mySidebar" class="barralateral">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <%= link_to root_path do %>
      <div class="logo_principal">
        <%= image_tag "alquilapp-logo.svg", class:"logo" %>
        <h1>Alquilapp</h1>
      </div>
    <% end %>

    <h2><%= render "/home/balance" %></h2>

    <a class="opciones">Opciones de Sesión ⟩</a>
    <div class="sesion_actual">
        <%= button_to "Sign Out", destroy_user_session_path, :method => :delete, class:"boton inicio" %>
        <%= button_to "Editar Perfil", edit_user_registration_path, class: "boton inicio"%>
    </div>

    <%if current_user && current_user.admin %>
        <a href="#">Opciones de administrador</a>
        <%= render "herramientas_administrador" %>
    <% end %>
    <%if current_user && current_user.super%>
        <a href="#">Herramientas de supervisor</a>
    <% end %>
</div>

<div id="main"><button class="abrir_menu_lateral" onclick="openNav()">☰</button></div>

<script src="<%= asset_path 'menu_Lateral' %>"></script>