<div id="mySidebar" class="barralateral">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <% if current_user %>
    <% if !current_user.super && !current_user.admin %>
      <%= button_to "Billetera", bille_path, :method => :get, class:"opciones_lateral"  %>
    <% end %>
    
    <div class="lineahorizontal"></div>

    <%if current_user.admin%>
      <details>
        <summary onselectstart="return false", class="opciones_lateral"> 
          Herramientas de Administrador
        </summary>
        <%= button_to "Usuarios registrados", listado_clientes_path, :method => :get, class:"sub_opciones_lateral" %>
        <div class="lineahorizontal"></div>

        <%= button_to "Supervisores", listado_super_path, :method => :get, class:"sub_opciones_lateral" %>
        <div class="lineahorizontal"></div>

        <%= button_to "Vehículos", listado_vehiculos_path, :method => :get, class:"sub_opciones_lateral" %>
        <div class="lineahorizontal"></div>

        <%= button_to "Historial de Uso de Vehículos", historial_path, :method => :get, class:"sub_opciones_lateral" %>
        <div class="lineahorizontal"></div> 

      </details>
    <% elsif current_user.super %>
      <details>
      <summary onselectstart="return false", class="opciones_lateral"> 
        Herramientas de Supervisor
      </summary>
        <%= button_to "Vehículos", listado_vehiculos_path, :method => :get, class:"sub_opciones_lateral" %>
        <div class="lineahorizontal"></div>
        </details>
    <% end %>

    <div class="lineahorizontal"></div>

    <details>
      <summary onselectstart="return false", class="opciones_lateral"> Cuenta de Usuario </summary>
        <%= button_to "Cerrar Sesión", destroy_user_session_path, :method => :delete, class:"sub_opciones_lateral" %>
        <div class="lineahorizontal"></div>
        <%= button_to "Editar Perfil", edit_user_registration_path, :method => :get, class:"sub_opciones_lateral" %>
    </details>

    <div class="lineahorizontal"></div>

    <details>
      <summary onselectstart="return false", class="opciones_lateral"> Ayuda </summary>
        <%= button_to "Preguntas Frecuentes", preguntas_path, :method => :get, class:"sub_opciones_lateral" %>
        <% if !current_user.super && !current_user.admin %>
          <div class="sub_opciones_lateral">
            <%= link_to "Enviar solicitud de contacto", :controller => "/home", :action => "send_order_mail"%>
            <p class="advertencia">atencion, esto enviará una solicitud en tiempo real a uno de nuestros supervisores, utilice esta opción si lo considera realmente necesario</p>
          </div>
        <% end %>
    </details>

    <div class="lineahorizontal"></div>
  <%end%>
</div>

<div class="barra_superior">
  <div id="main">

    <div style="display: flex; flex-direction: row; align-items:center;">
      <button class="abrir_menu_lateral" onclick="openNav()">
        <%= image_tag "menu-burger.svg", class:"burger" %>
      </button>
      <%= link_to root_path do %>
        <div class="logo_principal">
          <%= image_tag "alquilapp-logo.svg", class:"logo" %>

          <h1 class="titulo_logo", style="">
          <FONT COLOR="black">Alquilapp </FONT>
          </h1>

        </div>
      <% end %>
    </div>
    <div>
      <% @al = Alquilar.where(id_user: current_user.id).find_by_activo(true)%>
      <% if !@al.nil? %>
        <% @fin = ( @al.fin - 3*60*60 )%>
        <h1 class='<%= "excedido" if Time.now > @al.fin %>'> 
          <%= @fin.day %>/<%= @fin.month %>/<%= @fin.year %>, 
          <% if @fin.hour < 10 %>0<% end %><%= @fin.hour %>:<% if @fin.min < 10 %>0<% end %><%= @fin.min %>
        </h1>
      <% end %>
    </div>
    <div>
      <% if current_user%>
        <h1 style="margin-right: 15px;">
          <%= current_user.nombreUsuario %>
          <% if !current_user.admin && !current_user.super %>
            , $<%= current_user.balance %>
            <% if !@al.nil? %>
              (-$ <%= @al.precio_alquiler + @al.precio_extension%> )
            <% end %>
          <% end %>
      </h1>
      <%end%>
    </div>
  </div>
</div>
<script src="<%= asset_path 'menu_Lateral' %>"></script>