<h1>Para poder acceder a nuestros servicios<br>requerimos de fotos de su DNI y Licencia de Conducir</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
        <p>LICENCIA</p>
        <%= f.file_field :licencia %>
    </div>
        
    <div class="field">
        <p>DNI:</p>
        <%= f.file_field :dni_tarjeta %>
    </div>

      <div class="field">
        <%= f.hidden_field :estadoDocumentos, value:"pendiente"%>
      </div>

  <div class="field">
    <%= f.hidden_field :current_password, value:"123456"%>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>