<h1>Para poder acceder a nuestros servicios<br>requerimos de fotos de su DNI y Licencia de Conducir</h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
        <p>LICENCIA</p>
        <%= f.file_field :licencia %>
    </div>
        
    <div class="field">
        <p>DNI:</p>
        <%= f.file_field :dni_tarjeta %>
    </div>

    <div class="field">
       <p>Por motivos de seguridad, ingrese nuevamente su contraseña</p>
        <%= f.password_field :current_password, autocomplete: "current-password", class:"ingreso", placeholder: "Contraseña" %>
    </div>

    <div class="actions">
        <%= f.submit "Update", class:"boton" %>
    </div>
<% end %>