<%= stylesheet_link_tag 'style.css' %>

<div class="fondo">
    <%= render "/home/menu_lateral"%>
    <h1 class="titulo_seccion"> Billetera </h1>
        <%= form_with model: @article do |form| %>
            <%= form.number_field :price, step: 0.01 %>
<%= form.submit "Search" %>
        <% end %>
</div>