<%= stylesheet_link_tag 'style.css' %>

<div class="fondo">
    <%= render "/home/menu_lateral"%>
    <h1 class="titulo_seccion"> Billetera </h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
                <%= f.number_field :balance, class:"ingreso", step: 0.01%>
            </div>

            <div class="actions">
                <%= f.submit "Update" %>
            </div>

            <div class="field">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

        <% end %>
</div>