<%= stylesheet_link_tag 'style.css' %>

<div class="fondo">
    <%= render "/home/menu_lateral"%>  

    

    <%= form_with model: @tarjeta do |form|  %>  

    <div>
    <%= form. text_field :nombre, placeholder:"Nombre", :required => true, class:"ingreso" %>
    </div>
    <div>

    <%= form. text_field :apellido, placeholder:"Apellido", :required => true, class:"ingreso" %>
    </div>
    <div>

    <%= form. number_field :numeros16, in: 1000000000000000..9999999999999999, placeholder:"Números en la tarjeta", :required => true, class:"ingreso" %>
    </div>
    <div>
    <p>vencimiento</p>
    <%= form. number_field :venc_dia, placeholder:"Día", in: 1..31, :required => true, class:"ingreso" %>
    <%= form. number_field :venc_mes, placeholder:"Mes", in: 1..12, :required => true, class:"ingreso" %>
    </div>

    <p>Cuanto deseas cargar?</p>
    <%= form. number_field :saldo, :required => true, class:"ingreso"%>  
    
    
    <%= form. submit %>
    
    <% end %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

         <div class="field">
                <%= f.number_field :balance, class:"ingreso", step: 0.01%>
            </div>

            <div class="actions">
                <%= f.submit "Cargar saldo", class:"boton" %>
            </div>

            <div class="field">
                <%= f.label :current_password %> <i>Por motivos de seguridad, ingresa tu contraseña</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class:'ingreso' %>
    </div>

        <% end %>
</div>