<%= stylesheet_link_tag 'style.css' %>

<div class="fondo">
    <%= render "/home/menu_lateral"%>  

    <%= form_tag carga_path, method:"patch" do %>
        <div class="field">
            <%= number_field_tag(:balance, "", class:"ingreso") %>
        </div>
        
        <div class="field">
            <%= submit_tag('Confirmar' , class:"boton")  %>
        </div>
    <% end %>
</div>