<%= stylesheet_link_tag 'style.css' %>
<% if  !current_user %>
    <div class="centrar">
        <div class="contenedor">
            <div class= iniciar_crear>
                <%= render "devise/sessions/new"%>
                <div class="lineavertical"></div>
                <%= render "devise/registrations/new"%>
            </div>

            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>

            <button class="recuperar">¿Has olvidado la Contraseña?</button>
            <div class="interfaz_recupero">
                <h2>Recuperar Cuenta</h2>
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="horizontal">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"E-mail", class:"ingreso" %>
                    <%= f.submit "Send me reset password instructions", class:"boton recuperacion" %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
<% else %>
    <% if !current_user.licencia.attached? || !current_user.dni_tarjeta.attached? %>
        <div class="centrar">
            <div class="contenedor">
                <%= render 'home/primer_sesion'%>
            </div>
    <% else %>
        <%= render "/home/menu_lateral"%>
        <div class="catalogo_cercania">
            <div class="auto 1"></div>
            <div class="auto 2"></div>
            <div class="auto 3"></div>
            <div class="auto 4"></div>
        </div>
    <% end %>
<% end %>
<script src="<%= asset_path 'colapsar' %>"></script>