<%= stylesheet_link_tag 'style.css' %>

<% if current_user %>
    <% if !current_user.admin && !current_user.super %>
        <% if !current_user.licencia.attached? && !current_user.dni_tarjeta.atached? %>
            <div class="centrar">
                <div class="contenedor">
                    <p><%= render 'home/primer_sesion'%>
                    <br>
                    <%= button_to "Cerrar Sesi칩n", destroy_user_session_path, :method => :delete, class:"boton" %>
                    </p>
                </div>
            </div>
        <% else %>
            <% if current_user.estadoDocumentos == "pendiente" %>
            <div class="esperarAprobacion">
                <div class="espera">
                    Documentos enviados correctamente.<br>Los mismos ser치n revisados por nuestro personal y una vez aprobados podr치s hacer uso de nuestros servicios.
                    <br><br><%= button_to "Cerrar Sesi칩n", destroy_user_session_path, :method => :delete, class:"boton" %>
                </div>
            </div>
            <% elsif current_user.estadoDocumentos == "rechazado" %>
                <div class="esperarAprobacion">
                        <div class="espera">
                            Documentos rechazados, por favor suba otras imagenes de su licencia y DNI
                            <br><br>
                            <%= render 'home/primer_sesion'%>
                        </div>
            </div>
            <% end %>
            <%= render '/home/catalogo' %>
        <% end %>
    <% end %>
<% else %>
    <div class="centrar">
        <div class="contenedor">
            <%= render "/home/iniciar_crear" %>
        </div>
    </div>
<% end %>
<script src="<%= asset_path 'colapsar' %>"></script>