<%= stylesheet_link_tag 'style.css' %>

<% if current_user %>
    <% if !current_user.licencia.attached? && !current_user.dni_tarjeta.atached? && !current_user.admin && !current_user.super%>
        <div class="centrar">
                <div class="contenedor">
                    <p><%= render 'home/primer_sesion'%>
                    |
                    <%= button_to "Cerrar Sesión", destroy_user_session_path, :method => :delete, class:"boton" %>
                    </p>
                </div>
            </div>
    <% else %>
        <%= render '/home/catalogo' %>    
    <% end %>
<% else %>

    <div class="centrar">
        <div class="contenedor">
            <%= render "/home/iniciar_crear" %>
        </div>
    </div>
    
<% end %>
<script src="<%= asset_path 'colapsar' %>"></script>