<%= stylesheet_link_tag 'style.css' %>
<% if current_user %>
    <% if !current_user.admin && !current_user.super %>
        <% if !current_user.licencia.attached? && !current_user.dni_tarjeta.atached? || current_user.estadoDocumentos=="rechazado"%>
            <div class="centrar">
                <div class="contenedor">
                    <% if current_user.estadoDocumentos=="rechazado" %>
                        Documentos rechazados, suba nuevas imágenes
                    <% end %>
                    <p><%= render 'home/primer_sesion'%>
                    <br>
                    <%= button_to "Cerrar Sesión", destroy_user_session_path, :method => :delete, class:"boton" %>
                    </p>
                </div>
            </div>
        <% else %>
            <% if current_user.estadoDocumentos == "pendiente" %>
                <div class="esperarAprobacion">
                    <div class="espera">
                        Documentos enviados correctamente.<br>Los mismos serán revisados por nuestro personal y una vez aprobados podrás hacer uso de nuestros servicios.
                        <br><br><%= button_to "Cerrar Sesión", destroy_user_session_path, :method => :delete, class:"boton" %>
                    </div>
                </div>
            <% end %>
            <% if current_user.estadoDocumentos == "aprobado" %>
              <%= render '/home/catalogo' %>
            <% end %>
        <% end %>
    <% end %>
<% else %>
    <div class="centrar">
        <div class="contenedor">
            <%= render "/home/iniciar_crear" %>
        </div>
    </div>
<% end %>
