<%= stylesheet_link_tag 'style.css' %>

<div class="fondo vehiculo">
    <%= render "/home/menu_lateral"%>

    <h1 class="titulo_seccion">Usuarios Registrados</h1>

    <table class="listado">
        <tr>
            <th class="item">Nombre de Usuario</th>
            <th class="item">DNI</th>
            <th class="item">E-mail</th>
            <th class="item">Documentación</th>
            <th class="item">Estado</th>
        </tr>
            <% User.all.each do |user| %>
                <% if !user.admin && !user.super %>
                    <tr>
                        <td class="item"><%= user.nombreUsuario%></td>
                        <td class="item"><%= user.dni%></td>
                        <td class="item"><%= user.email%></td>
                        <td class="item">
                            <% if user.licencia.attached? %>
                                <%= link_to image_tag(user.licencia, height:"20px", width:"20px"), user.licencia, target: :_blank %>
                            <% else %>
                                <div>Falta Licencia de conducir</div>
                            <% end %>

                            <% if user.dni_tarjeta.attached? %>
                                <%= link_to image_tag(user.dni_tarjeta, height:"20px", width:"20px"), user.dni_tarjeta, target: :_blank%>
 
                            <% else %>
                                <div>Falta DNI</div>
                            <% end %>
                        </td>
                        <td class="item">
                            <%= form_for(user, url: '/actualizarDocumentos/"#{user.id}"', html: { method: :get }) do |f| %>
                            <%= f.hidden_field :id, value: user.id%>
                                <%= f.select(:estadoDocumentos, options_for_select([['Pendiente','pendiente'],['Aprobado','aprobado'],['Rechazado','rechazado']]))%>
                                <div class="actions">
                                    <br>
                                    <%= f.submit "Guardar cambios", class:"boton" %>
                                </div>

                            <% end %>
                        </td>
                    </tr>
                <% end %>
        <% end %>
    </table>
</div>