<h1>Supervisores</h1>

<%= link_to "Agregar +", agregar_s_path  %>

<ul class="users">
    <% User.all.each do |user| %>
        <%if user.super %> 
            <li>
            Usuario: <%= user.email%> <br>
            Administrador: <%= user.admin%> <br>
            Supervisor: <%= user.super%> <br>

            <%= link_to "Eliminar", eliminar_s_path  %>
            <%= link_to "Modificar", modificar_s_path  %>

            </li>
        <% end %>    
    <% end %>
</ul>