<%= stylesheet_link_tag 'style.css' %>
<div class="sesion">
  <h2>Iniciar Sesi칩n</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"E-mail", class:"ingreso", :required => true  %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder:"Contrase침a", class:"ingreso", :required => true  %>
    </div>

    <div class="field">
      <script>
  navigator.geolocation.getCurrentPosition((pos) => {
    document.querySelector("#posicion_usuario").value =
      `${pos.coords.latitude},${pos.coords.longitude}`;
  });
</script>
      <%= f.hidden_field :latitud %>
    </div>
    <div class="field">
      <%= f.hidden_field :longitud %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Recordar Sesi칩n" %>
      </div>
    <% end %>
    <br>
    <div class="actions">
      <%= f.submit "Iniciar Sesi칩n", class:"boton" %>
    </div>
  <% end %>
</div>