<%= stylesheet_link_tag 'style.css' %>

<center>
<div class="fondo">
    <%= render "/home/menu_lateral"%>
    <%= link_to :back do %>
        <%= image_tag "arrow-left.svg", class:"volver" %>    
    <% end %>

    <h1 class="titulo_seccion">Extender horas</h1>

    <%@al = Alquilar.where(id_user: current_user.id).find_by_activo(true) %>
    <% @hs_actuales =  (@al.fin - @al.inicio)/60/60 %></br>
    <% if @hs_actuales < 24 %>
        
        <% @max = 24 - @hs_actuales %>
        <%  @max.to_i %>
        <%= form_tag("/alquilar/index_extender", method: "get") do %>
        
            <h3>Las horas alquiladas más las extendidas no pueden superar las 24hs. </h3>
            <h3>Cantidad de horas a sumar:</h3>
            <%= select_tag(:aver, options_for_select(1..@max))%> </br>
            </br><%= submit_tag("Extender alquiler", :class=>"boton", :name=>"submit") %>
        <% end %>
    <% end %>
</div>
</center>