<%= stylesheet_link_tag 'style.css' %>
<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>

<div class="fondo">
    <%= render "/home/menu_lateral"%>
    <%= link_to :back do %>
        <%= image_tag "arrow-left.svg", class:"volver" %>    
    <% end %>

    <%@al = Alquilar.find_by_id_user(current_user.id) %>
    <% if @al.nil? %>
        <% if current_user.balance >= (params[:fin].to_i*200) %>
            <%= form_with model: @alquilar do |f|  %>
    
                <%= time=Time.now %>    

                <div class="field">
                    <%= f.text_field :id_vehiculo, value: params[:id_vehiculo]%>
                </div> 

                <div class="field">
                    <%= f.text_field :id_user, value: current_user.id %>
                </div>

                <div class="field">
                    <%= f.text_field :inicio, value: time %>
                </div>

                <div class="field">
                    <%= f.text_field :fin, value: time %>          
                </div>

                <div class="field">
                    <%= f.number_field :precio_alquiler, value: (params[:fin].to_i*200)%>
                </div>

                <p>el precio total será de $<%= (params[:fin].to_i*200)%></p>

                <div class="field">
                    <%= f.submit 'Confirmar', class:"boton" %>
                </div>
            <% end %>
        <% else %>
            <p>No dispone del dinero necesario para alquilar el vehiculo</p>
        <% end %>
    <% else %>
        <%= button_to 'Cancelar', alquiler_de_auto_path(@al), :method => :delete, class:"boton",  data: {
        turbo_method: :delete,
      turbo_confirm: '¿Estas seguro?' },class:"boton" %>
    <% end %>
    
    
</div>