<%= stylesheet_link_tag 'style.css' %>

<center>
<div class="fondo">
    <%= render "/home/menu_lateral"%>
    <%= link_to :back do %>
        <%= image_tag "arrow-left.svg", class:"volver" %>    
    <% end %>

    <%@al = Alquilar.where(id_user: current_user.id).find_by_activo(true) %>
    <%@total=params[:aver].to_i*200%>
    <p><%@total%></p>
    <% if @al.nil? %>
        <% if current_user.balance >= @total %>
            <%= form_with model: @alquilar do |f|  %>
    
                <% time=Time.now(in: '-03:00') %>  

                <h3>Hora de inicio de alquiler: <%=time.strftime("%H:%M")%></h3>

                <div class="field">
                    <%= f.hidden_field :id_vehiculo, value: params[:id_vehiculo]%>
                </div> 

                <div class="field">
                    <%= f.hidden_field :id_user, value: current_user.id %>
                </div>

                <div class="field">
                    <%= f.hidden_field :inicio, value: time %>
                </div>

                <div class="field">
                    <%= f.hidden_field :fin, value: time+(params[:aver].to_i*60*60) %>          
                </div>

                <h3>Hora de fin de alquiler: <%=(time+(params[:aver].to_i*60*60)).strftime("%H:%M")%></h3>


                <div class="field">
                    <%= f.hidden_field :precio_alquiler, value: @total%>
                </div>

                <p>El precio total ser치 de $<%= @total%></p>

                <div class="field">
                    <%= f.submit 'Confirmar', class:"boton" %>
                </div>
            <% end %>
        <% else %>
            <p>No dispone del dinero necesario para alquilar el vehiculo</p>
        <% end %>
    <% else %>   
        <% if Vehiculo.find_by_id(@al.id_vehiculo).bloq %>
            <h3>Si usted cancela, igual deber치 abonar las horas de alquiler.</h3>
            <h3><FONT COLOR="EA3A3A">El auto debe estar bloqueado!</h3>
        <% else %>
            <h3>Si usted cancela, igual deber치 abonar las horas de alquiler.</h3>
                </br>
            <h1 class="titulo_seccion">Resumen de gastos:</h1>
            <h3>Precio por las horas de alquiler: $<%= @al.precio_alquiler.to_i %></h3>
            <h3>Precio por las horas de extensi칩n de alquiler: $<%= @al.precio_extension.to_i %></h3>
            <% @precio_total = @al.precio_alquiler.to_i + @al.precio_extension.to_i %>
            <h2>Total: $<%= @precio_total %></h2>
            <%= button_to 'Finalizar', alquiler_de_auto_path(@al), :method => :delete, class:"boton" %> 
        <% end %>
    <% end %>
    
    
</div>
</center>