<%= stylesheet_link_tag 'style.css' %>

<center>
<div class="fondo">
    <%= render "/home/menu_lateral"%>
    <%= link_to :back do %>
        <%= image_tag "arrow-left.svg", class:"volver" %>    
    <% end %>

    <%@al = Alquilar.where(id_user: current_user.id).find_by_activo(true) %>
    <% @hs_extender = params[:aver] %>
    <%@total=params[:aver].to_i*250%>


    </br>
    <% @precio = @total + @al.precio_alquiler %>

    <%= time=@al.fin-3*60*60 %>     

    <% if !@al.nil? %>
        <% if current_user.balance >= @precio %>
            <%= form_tag(extender_path, method:"patch") do %>    

 
                <div class="field"> 
                    <%= hidden_field_tag(:fin, time+(params[:aver].to_i*60*60)) %>          
                </div>

                <h3>Hora de fin de alquiler: <%=(time+(params[:aver].to_i*60*60)).strftime("%H:%M")%></h3>


                <div class="field"> 
                    <%= hidden_field_tag(:precio_extension, @total)%>
                </div>

                <div class="field"> 
                    <%= hidden_field_tag(:extension, @hs_extender)%>
                </div>


                <p>El precio total será de $<%= @total%></p>

                <div class="field">
                    <%= submit_tag("Confirmar", class:"boton") %>
                </div>
            <% end %>
        <% else %>
            <p>No dispone del dinero necesario para alquilar el vehiculo</p>
        <% end %>
    <% else %>       
        <%= button_to 'Cancelar', alquiler_de_auto_path(@al), :method => :delete, class:"boton",  data: {
        turbo_method: :delete,
      turbo_confirm: '¿Estas seguro?' },class:"boton" %>
    <% end %>
    
    
</div>
</center>