<!DOCTYPE html>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

<html>
  <head>
    <title>Alquilapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js"></script>
    <script>
      mapboxgl.accessToken = "sk.eyJ1IjoiZGFycml1eCIsImEiOiJjbGJqMGw2YzMweWxqM3FwNXh2MXhjejFhIn0.JSOP2KvFvRUUo9gxcVad_g";
    </script>
    <script src="<%= asset_path 'mapkick' %>"></script>
  </head>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  
  <body class="base">
    <% if current_user %>
      <% if (current_user.estadoDocumentos=="aprobado") %>
        <%= render '/home/menu_lateral' %>
      <% elsif  current_user.admin || current_user.super %>
          <%= render '/home/menu_lateral' %>
      <% end %>   
    <% end %>
    <%= render '/home/flash'%>
    <%= yield %>
  </body>
  
</html>