<!DOCTYPE html>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

<html>
  <head>
    <title>Alquilapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  
  <body>
    <%= render 'home/flash' %>
    <% if current_user %>
      <% if (current_user.licencia.attached? && current_user.dni_tarjeta.attached?) %>
        <%= render '/home/menu_lateral' %>
      <% elsif  current_user.admin || current_user.super %>
          <%= render '/home/menu_lateral' %>
      <% end %>   
    <% end %>
    <%= yield %>
  </body>
</html>